@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/earlyaccess/notosansscsliced.css);

html, body {
    height: 100%;
    font-family: Arial, Tahoma, Helvetica, 'Noto Sans SC Sliced', sans-serif;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;
}

.alert {
    margin-top: 51px;
    margin-bottom: -55px;
    position: relative;
    z-index: 1000;
    text-align: center;
}

.func-btn {
    padding: 10px 15px;
    font-size: 110%;    
    font-weight: bold;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* @media (min-width: 768px) and (max-width: 1210px) { */
@media (max-width: 1210px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
        background-color:  rgb(250, 250, 250) !important;
        padding: 0px 0px !important;
        max-height: 100% !important;
    }
    .navbar-toggle{
        display: block !important;
        border-color: rgba(0, 0, 0, 0.5) !important;
    }
    .navbar-header{
        float: none;
        background-color: rgba(0, 0, 0, 0.1) !important;
    }

    .navbar-nav {
        margin: 0px 0px !important;
        padding: 0px 0px !important;
    }
    .navbar-nav ul {
        float: none;
    }
    .navbar-nav ul:not {
        display: block;
    }
    .navbar-nav li {
        float: none;
        display: block;
    }
    .navbar-nav li a {
        margin-top: 5px !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        margin-bottom: 5px !important;
    }

}


body>.navbar-transparent {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.navbar-transparent .navbar-nav>.active>a {
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    /* background-color: #5598f7; */
    background-color: #26b3fb;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
    /* background-color: #5598f7; */
    background-color: #26b3fb;
}

.navbar-form {
    margin-right: 0;
}

.navbar-nav>li>a.profile-menu {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-nav>.btn {
    margin: 8px 0px 0px 15px;
}

.navbar-nav>li>a {
    font-size: 1.6rem;
    font-weight: bold !important;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-brand>img {
    float: left;
}

.navbar-nav {
    padding: 0px 26px 0px 0px;
}

/* .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: #f8f8f8;
    background-color: rgb(248, 248, 248, 0.8);
} */

/* .btn {
    background-image: none;
    -webkit-box-shadow: 0px 1px 0px #ddd;
    -moz-box-shadow: 0px 1px 0px #ddd;
    box-shadow: 0px 1px 0px #ddd;
} */

/* Home page styling */
.corporate-jumbo {
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)), url("/OttawaSTEMClub/static/site/img/banners/stem-carol-1.jpg");
    /* background-image: url("/static/site/img/banners/stem-carol-1.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover !important;
    background-size: cover;
    color: #f5f5f5;
    padding: 10em 0;
    margin-bottom: 0;
    height: 100%;
}

.buffer {
    margin: 40px 0px;
}

.top-buffer {
    margin: 30px 0px 0px 0px;
}

.corporate-jumbo .well {
    background-color: rgba(245, 245, 245, .7);
}

.corporate-jumbo p,
.corporate-jumbo h1 {
    color: #eee;
    text-shadow: 0px 0px 2px black;
}

.corporate-jumbo p {
    font-weight: 500;
}

.corporate-jumbo p {
    font-weight: 500;
}

.corporate-jumbo h2 {
    /* color: #eee; */
    color: white;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.644);
    font-weight: 900;
    font-size: 300%;
}

.corporate-jumbo h3 {
    /* color: #eee; */
    color: white;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.644);
    font-weight: 900;
    font-size: 250%;
}

.corporate-jumbo h4 {
    /* color: #eee; */
    color: white;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.644);
    font-weight: 900;
    font-size: 200%;
}

.corporate-jumbo h5 {
    /* color: #eee; */
    color: rgb(57, 131, 237);
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.644);
    font-weight: 900;
    font-size: 150%;
}

.corporate-jumbo .well legend {
    color: #333;
}

.corporate-jumbo>.container {
    display: block;
    position: absolute;
    bottom: 2em;
    left: 15px;
}

.contact-banner {
    padding: 100px 0;
    background: #e0e0e0;
    margin-top: 100px;
}

.footer a:hover {
    text-decoration: none;
}
/*  End of Home page styling */


/*  End of Showcases page styling */
.panel-group .panel {
    margin-bottom: 20px;
}

.panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    font-size: 1.5em;
    content: "\f068";
    padding: 5px 5px 0px 0px;
}

.panel-title > a.collapsed:before {
    float: right !important;
    font-size: 1.5em;
    content:"\f067";
}

.panel-title > a:hover, .panel-title > a:active, .panel-title > a:focus  {
    text-decoration: none;
}

.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%;
} 

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*  End of Showcases page styling */


/* About page styling */
#sec1 {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJklEQVQIW2NkAIILFy78NzAwYATRjCABZEGwAEwFiA1WBlIOUwkA72gTdDIYVO4AAAAASUVORK5CYII=) repeat;
}

.text-page {
    padding: 40px 0;
}
/* End of About page styling */


/* Profile page styling */
.profile-head {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJklEQVQIW2NkAIILFy78NzAwYATRjCABZEGwAEwFiA1WBlIOUwkA72gTdDIYVO4AAAAASUVORK5CYII=) repeat;
    padding: 70px 0px 30px 20px;
}

.profile-body {
    padding: 4px 0px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    font-weight: bold;
}

#map-outer {
    height: 440px;
    padding: 40px 20px;
    margin-bottom: 20px;
    background-color: #FFF
}

#map-container {
    height: 400px
}

.img-dim {
    opacity: 0.5;
    box-shadow: inset 0px 0px 64px 64px #EA1717, 0px 0px 4px 4px #EA1717;
}
/* End of Profile page styling */


/* Authentication forms */
.form-box form,
.form-box .form-message {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-box form .checkbox {
    margin-bottom: 10px;
}

.form-box form .checkbox {
    font-weight: normal;
}

.form-box form .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 2rem;
}

.form-box form .form-control:focus {
    z-index: 2;
}
/* End of Authentication forms */


/* Custom Form */
.form-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-left {
    padding-left: 0px;
}

.btn-primary:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-default:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.asteriskField {
    color: red;
}
/* End of Custom Form */

/* Footer Social Media */
.social li {
    width: auto;
    float: right;
    margin: 0;
    list-style-type: none;
}

.social li a {
    width: 25px;
    height: 25px;
    background: url("/OttawaSTEMClub/static/site/img/social_media.svg");
    background: rgba(0,0,0,0) url("/OttawaSTEMClubstatic/site/img/social_media.svg");
    background-repeat: no-repeat;
    background-size: 140px 280px;
    margin: 0 0 0 3px;
    display: block;
}

/* .social li a:hover, */
.social li a:hover, a:focus{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    background-position-x: -90px;
  }

.social .social-facebook {
    background-position: -60px 0;
}

.social .social-twitter {
    background-position: -60px -28px;
}

.social .social-instagram {
    background-position: -60px -56px;
}
.social .social-linkedin {
    background-position: -60px -84px;
}
.social .social-more {
    background-position: -60px -112px;
}
.social .social-pinterest {
    background-position: -60px -140px;
}
.social .social-rss {
    background-position: -60px -168px;
}
.social .social-tumblr {
    background-position: -60px -196px;
}
.social .social-youtube {
    background-position: -60px -224px;
}
.social .social-flickr {
    background-position: -60px -252px;
}
/* End of Footer Social Media */

/* News */
.news-header {
    color: #337ab7; 
    font-weight: bold;
    font-size: 2em;
}

.news-date {
    font-weight: bold;
}

.news-content {
    font-size: 1.2em;
}
/* End of News */

/* Challenges */
.list-header {
    margin: 0px;
    font-size: 1.6em;
    font-weight: bold;
}

.list-item {
    font-size: 1.6em;
    margin: 10px 0px;
}
/* End of Challenges */

/* Card Component */
/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    /* this adds the "card" effect */
    padding: 16px;
    text-align: left;
    line-height: 150%;
    background-color: #ffffff;
    border-radius: 6px;
    height: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 30px;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 15px 30px;
    transform: translate3d(0px, -1px, 0px);
    height: auto;
}

.card .card-image {
    width: 80px;
    float: left;
    margin-right: 15px;
}

.card .card-header {
    font-weight: bold; 
    font-size: 2em;
    line-height: 100%;
    padding-bottom: 10px;
}

.card .card-text {
    font-size: 1.2em;
    padding-bottom: 10px;
}
/* End of Card */

/* Showcase - Sidebar */
.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;   /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}



/* End of Sidebar */
